@media (max-width: 1500px) {
	#sobre #grid .mix {
		width: 25%;
		height: 220px;
	}
	.carousel-caption {
		padding: 0 150px;
		top: 40%;
		left: 40%;
	}
	#logo {
		background-size: 57px;
	}
	.navbar {
	    height: 72px;
	}
	#home {
		margin-top: 72px;
		height: calc(100% - 72px)
	}
}
@media (max-width: 1200px) {
	#sobre #grid .mix {
		width: 33.3%;
	}
	.carousel-caption {
		padding: 0 150px;
		top: 42%;
		left: 40%;
	}
	#logo {
		background-size: 57px;
	}
	.navbar {
	    height: 72px;
	}
	#home {
		margin-top: 72px;
		height: calc(100% - 72px)
	}
}
@media (max-width: 1000px) {
	#sobre #grid .mix {
		width: 33.3%;
	}

	.carousel-caption {
		padding: 0 55px;
		top: 41%;
		left: 40%;
	}
	#logo {
	    background-size: 43px;
	}
	.navbar {
	    height: 58px;
	}
	#home {
		margin-top: 58px;
		height: calc(100% - 58px);
	}
}
@media (max-width: 900px) {
	#sobre .container h2:before {
		left: 15%;
		width: 20%;
	}
	#sobre .container h2:after {
		width: 20%;
		right: 15%;
	}
	#sobre .container #grid .mix {
		width: 50%;
		height: 230px;
	}
	.carousel-caption {
		padding: 0 150px;
		top: 42%;
		left: 40%;
	}
	#logo {
		background-size: 57px;
	}
	.navbar {
	    height: 10%;
	}
	#home {
		margin-top: 10%;
		height: calc(100% - 10%)
	}
}
@media (max-width: 768px) {
	#sobre .filter_wrap {
		width: 60%;
		margin: 0 auto;
		position: relative;
		z-index: 2;
		text-align: center;
	}
	#sobre .filter_wrap span {
		display: inline-block;
		cursor: pointer;
		width: 80%;
		margin: 0 auto;
		margin-bottom: 44px;
		background-color: #fff;
	}
	#sobre #grid .mix {
		width: 50%;
	}

	#sobre .container h2:before {
		left: 11%;
		width: 18%;
	}
	#sobre .container h2:after {
		width: 18%;
		right: 11%;
	}
	#logo {
		background-size: 57px;
	}
	.navbar {
	    height: 10%;
	}
	#home {
		margin-top: 10%;
		height: calc(100% - 10%)
	}
}
@media (max-width: 525px) {
	#sobre h2:before {
		left: 2%!important;
		width: 13%!important;
	}
	#sobre h2:after {
		width: 13%!important;
		right: 2%!important;
	}
	#sobre #grid .mix {
		width: 100%!important;
		height: 200;
	}
	#sobre #grid .mix .text {
		margin-top: 35px;
		padding-top: 15px;
	}
	#logo {
		background-size: 57px;
	}
	.navbar {
	    height: 10%;
	}
	#home {
		margin-top: 10%;
		height: calc(100% - 10%)
	}
}
@media (max-width: 480px) {
	.carousel-caption {
		padding: 0 10px;
		top: 40%;
		left: 0%;
	}
	#logo {
	    background-size: 44px;
	    margin-left: 5px;
	}
	.navbar {
	    height: 59px;
	}
	#home {
		margin-top: 59px;
		height: calc(100% - 59px)
	}
	.logo2 {
		width: 75% !important;
	}
	.carousel-caption .btn {
		font-size: 13px !important;
		padding: 10px 10px !important;
	}
	.carousel-control-prev, .carousel-control-next {
		display: none;
	}
	#botao3 {
		display: none;
	}
}
@media (max-width: 340px) {
	#sobre #grid .mix {
	width: 100%!important;
	height: 190px;
	}
	#sobre #grid .mix .text {
	margin-top: 0;
	}
	.carousel-caption {
		padding: 0 10px;
		top: 43%;
		left: 0%;
	}
	#logo {
	    background-size: 40px;
	    margin-left: 5px;
	}
	.navbar {
	    height: 56px;
	}
	#home {
		margin-top: 56px;
		height: calc(100% - 56px)
	}
	.logo2 {
		width: 75% !important;
	}
	.carousel-caption .btn {
		font-size: 13px !important;
		padding: 10px 10px !important;
	}
	.carousel-inner {
		font-size: 14px;
	}
	.carousel-control-prev, .carousel-control-next {
		display: none;
	}
	#botao3 {
		display: none;
	}
}

html, body {
	height: 100%;
}

i {
	color: #1a65b0;
	font-size: 48px;
}

.logo2 {
	width: 100%;
}

.carousel-inner {
	height: 100%;
}

.carousel-caption {

	position: absolute;
	right: 0;
	text-align: inherit;
	text-shadow: none;
	-moz-transform: translateY(-25%);
	-ms-transform: translateY(-25%);
	-o-transform: translateY(-25%);
	-webkit-transform: translateY(-25%);
	transform: translateY(-25%);
}

.carousel-caption .btn {
	font-size: 14px;
	padding: 10px 30px;
	border: 1px solid #ffffff;
	color: #ffffff;
	border-radius: 0;
	background: transparent;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#logo {
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: left;
	height: 100%;
}

.cor-base {
	background-color: #1a65b0;
}

#home {
	background: url(../img/home.jpg) no-repeat 50% 50%;
	background-attachment: fixed;
	background-size: cover;
}

#contato {
	width: 100%;
	padding: 90px 0;
	overflow: hidden;
	background: #fff;
	text-align: center;
}
#contato h2 {
}

.contato-telefone {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.navbar {
	margin-bottom: 0;
	/*background-color: #f4511e;*/
	z-index: 9999;
	border: 0;
	font-size: 13px !important;
	line-height: 1.42857143 !important;
	letter-spacing: 4px;
	border-radius: 0;
	padding: 0;
}

.navbar > ul > li::after {
    position: absolute;
    left: 20px;
    bottom: 5px;
    width: calc(100% - 40px);
    height: 2px;
    background: #df0024;
    content: '';
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.navbar li a, .navbar .navbar-brand {
	color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
	color: #1a65b0 !important;
	/*background-color: #fff !important;*/
}

.navbar-default .navbar-toggle {
	border-color: transparent;
	color: #fff !important;
}

.navbar-brand {
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
}

.navbar-left {
	position: absolute;
}

.modal-dialog {
	margin: 6.75rem auto;
}

/*
LOADING
*/
.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid blue;
	border-bottom: 16px solid blue;
	width: 50px;
	height: 50px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	position: absolute;
	top: 38%;
	left: 45%;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
/*
LOADING
*/

::-moz-selection {
	background: black;
	color: white;
	text-shadow: none;
}

::selection {
	background: black;
	color: white;
	text-shadow: none;
}

#atuacao {
	background-color: #1d282d;
	color: #fff;
	width: 100%;
	padding: 90px 0;
	text-align: center;
	overflow: hidden;

}
#atuacao.active div.col-md-4:nth-child(1) {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
	-webkit-transition: all 1.6s 0.2s ease;
	-moz-transition: all 1.6s 0.2s ease;
	-o-transition: all 1.6s 0.2s ease;
	transition: all 1.6s 0.2s ease;
}
#atuacao.active div.col-md-4:nth-child(2) {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
	-webkit-transition: all 1.6s 0.6s ease;
	-moz-transition: all 1.6s 0.6s ease;
	-o-transition: all 1.6s 0.6s ease;
	transition: all 1.6s 0.6s ease;
}
#atuacao.active div.col-md-4:nth-child(3) {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
	-webkit-transition: all 1.6s 1s ease;
	-moz-transition: all 1.6s 1s ease;
	-o-transition: all 1.6s 1s ease;
	transition: all 1.6s 1s ease;
}
#atuacao article {
	width: 90%;
	margin: 0 auto;
}
#atuacao h2 {
	margin-bottom: 30px;
	display: block;
	position: relative;
}
#atuacao p {
	width: 90%;
	margin: 0 auto;
}
#atuacao ul {
	margin: 45px auto 0;
}
#atuacao ul li {
	width: 31%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	position: relative;
}
#imagemAtuacao1 {
	margin-top: -48px;
}
.atuacao1 {
	position:relative;
	/*width:300px;*/
	height:200px;
}
.atuacao1 img {
	position:absolute;
	left: calc(0px);
	padding: 0px calc(100% / 3);
	cursor:pointer;
	background-color: #1D282D;
	-webkit-transition:bottom .3s ease-in-out;
	-moz-transition:bottom .3s ease-in-out;
	-o-transition:bottom .3s ease-in-out;
	transition:bottom .3s ease-in-out
}
.atuacao1 img.top:hover {
	bottom:-96px;
	padding-top:100px
	padding: calc(0px) 126px;
}
.atuacao2 img {
	position:absolute;
	left:0;
	bottom:0;
	cursor:pointer;
	margin:-12px 0;
	-webkit-transition:bottom .3s ease-in-out;
	-moz-transition:bottom .3s ease-in-out;
	-o-transition:bottom .3s ease-in-out;
	transition:bottom .3s ease-in-out
}
.atuacao2 img.top:hover {
	bottom:-96px;
	padding-top:100px
}
#atuacao3 {
	/*position: relative;*/
}
#atuacao3 img {
	position:absolute;
	left:0;
	bottom:0;
	cursor:pointer;
	margin:-12px 0;
	-webkit-transition:bottom .3s ease-in-out;
	-moz-transition:bottom .3s ease-in-out;
	-o-transition:bottom .3s ease-in-out;
	transition:bottom .3s ease-in-out
}
#atuacao3 img.top:hover {
	bottom:-96px;
	padding-top:100px
}
#atuacao div.col-md-4:nth-child(1) {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-webkit-transform: scale(0, 0);
	-moz-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-o-transform: scale(0, 0);
	transform: scale(0, 0);
}
#atuacao div.col-md-4:nth-child(2) {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-webkit-transform: scale(0, 0);
	-moz-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-o-transform: scale(0, 0);
	transform: scale(0, 0);
}
#atuacao div.col-md-4:nth-child(3) {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-webkit-transform: scale(0, 0);
	-moz-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-o-transform: scale(0, 0);
	transform: scale(0, 0);
}
#atuacao ul p {
	width: 100%;
}
#atuacao ul li + li {
	margin-left: 3%;
}
#atuacao ul a {
	margin: 0 auto 30px;
	width: 180px;
	height: 180px;
	display: block;
	border-radius: 50%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: relative;
}

#atuacao ul .icon2 {
	background-image: url("../img/if_Home_56264.png");
}
#atuacao ul .icon3 {
	background-image: url("../img/if_Delivery_56263.png");
}
#atuacao ul h3 {
	margin-bottom: 15px;
}

#sobre {
	top: -10px;
    background-color: #333633;
    color: #fff;
    width: 100%;
    /*padding: 90px 0 0;*/
    text-align: center;
    overflow: hidden;
}
#sobre h2 {
    margin-bottom: 30px;
    display: block;
    position: relative;
}
#sobre #grid .mix {
	opacity: 0;
}
#sobre .footer {
	overflow: hidden;
}
#sobre .footer p {
	margin: 30px auto;
	position: relative;
}
#sobre .footer h4 {
	color: #1d282d;
	margin-bottom: 0;
}
#sobre .mix {
	width: 20%;
	height: auto;
	position: relative;
	overflow: hidden;
	margin-bottom: -7px;
}
#sobre .mix:hover img {
	-webkit-transform: scale(1.2, 1.2);
	-moz-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	-o-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
}
#sobre .mix img {
	width: 100%;
	height: 100%;
	display: block;
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
	-webkit-transition: all 5s ease;
	-moz-transition: all 5s ease;
	-o-transition: all 5s ease;
	transition: all 5s ease;
}
#sobre a {
	width: 100%;
	height: 100%;
	display: block;
	padding: 40px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#sobre a:hover {
	border: block;
	background-color: rgba(0, 0, 0, 0.7);
}
#sobre a:hover div {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}
#sobre a .text {
	border-top: 1px solid #faa541;
	text-align: center;
	display: inline-block;
	width: 100%;
	vertical-align: bottom;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	margin: 1% auto 0;
	z-index: 2;
	color: #fff;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
#sobre a .text h3 {
	color: #fff9;
	margin-bottom: 1%;
    font-size: 1.5rem;
}
}
#sobre a .text span {
	display: inline;
	color: #fff;
	font-size: 14px;
}
